* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-transform: uppercase;
}

.navigation {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #49c5b1;
    color: #fff;
}

.main {
    max-width: 900px;
    background-color: #ffffff;
}

.description {
    margin: 0 10px;
}


ul {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    color: #49c5b1;
}